{% extends "base.html" %}

{% block content %}
<div class="posts">
    <form class="pure-form pure-menu-horizontal" action="/search/" method="get">
        <input class="pure-input-2-2" type="text" name="s" placeholder="search">
    </form>
    <section class="post">
        <hr>
    </section>

    {% if error %}
        <h2 class="post-title">没有相关文章题目</h2>
    {% else %}
        <ol class="time-line">
            {% for post in post_list %}
                <li>
                    <h1 class="time-line-title">
                        <a href="{% url 'detail' id=post.id %}">
                            {{ post.title }}
                        </a>
                    </h1>

                    <p class="post-meta">
                        <a class="post-list__meta--date date" href="#">{{ post.date_time |date:'Y M d'}}</a>
                        &#8226; 
                        {% for tag in post.tag.all %}
                          <a class="post-category post-category-pure" href="{% url 'search_tag' tag=tag %}">{{ tag.tag_name }}</a>
                        {% endfor %}
                    </p>
                </li>
            {% endfor %}
        </ol>
    {% endif %}
</div><!-- /.blog-post -->
{% endblock %}      