
<section class="comment-area">
    <section class="post-hr">
        <hr>
    </section>
    <form action="{% url 'comments:post_comment' post.pk %}" method="post" class="comment-form">
        {% csrf_token %}
        <div class="row">
            <span class="input input--jiro">
                {{ form.name }}
                {{ form.name.errors }}
                <label class="input__label input__label--jiro" for="{{ form.name.id_for_label }}">
                    <span class="input__label-content input__label-content--jiro">Name</span>
                </label>
            </span>

            <span class="input input--jiro">
                {{ form.email }}
                {{ form.email.errors }}
                <label class="input__label input__label--jiro" for="{{ form.email.id_for_label }}">
                    <span class="input__label-content input__label-content--jiro">Email</span>
                </label>
            </span>

            <span class="input input--jiro">
                {{ form.url }}
                {{ form.url.errors }}
                <label class="input__label input__label--jiro" for="{{ form.url.id_for_label }}">
                    <span class="input__label-content input__label-content--jiro">Url</span>
                </label>
            </span>

            <span class="input-block-level">
                {{ form.text }}
                {{ form.text.errors }}
            </span>

            <button type="submit" class="btn btn-primary comment-submit"><span>发表</span></button>

        </div>    <!-- row -->
    </form>
    <hr>
    <div class="comment-list">
        <ul class="list-unstyled">
            {% for comment in comment_list %}
                <li class="comment-item">
                    <span class="name">{{ comment.name }}</span>
                    <time class="date">{{ comment.created_time }}</time>
                    <div class="text" style="font-size:14px;padding-left:28px">
                        {{ comment.text }}
                    </div>
                </li>
            {% empty %}
              <section class="post-hr">
                <hr>
              </section>
            {% endfor %}
        </ul>
    </div>
</section>