{% extends "base.html" %}
{% load custom_markdown %}

{% block content %}
<div class="posts">
    <section class="post">
        <header class="post-header">
            <h2 class="post-title">{{ post.title }}
                <p class="post-meta">
                    <a class="post-list__meta--date date" href="#">{{ post.date_time |date:'Y M d'}}</a>
                    &#8226; 
                    {% for tag in post.tag.all %}
                      <a class="post-category post-category-pure" href="{% url 'search_tag' tag=tag %}">{{ tag.tag_name }}</a>
                    {% endfor %}
                </p>
            </h2>
        </header>
        
        <div class="excerpt post-description post-content">
            <p>
                {{ post.content|custom_markdown  }}
            </p>
        </div>
    </section>
    {% include "comment.html" %}
    {% include "duoshuo.html" %}
    {% include 'side-bar.html' %}
</div><!-- /.blog-post -->
{% endblock %}     
