{% extends "base.html" %}

{% block pagetitle %}
  {% for post in post_list %}
  <title>{{ post.tag }}</title>
  {% endfor %}
{% endblock %}

{% block content %}
  <div class="blog-post">
    {% for post in post_list %}
      <h3 class="blog-post-title">
        <a href="{% url 'detail' id=post.id %}">{{ post.title }}</a>
      </h3>
      <p class="post-meta">
          <a class="post-list__meta--date date" href="#">{{ post.date_time |date:'Y M d'}}</a>
          &#8226; 
          {% for tag in post.tag.all %}
            <a class="post-category post-category-pure" href="{% url 'search_tag' tag=tag %}">{{ tag.tag_name }}</a>
          {% endfor %}
      </p>
      <br />
    {% endfor %}
  </div><!-- /.blog-post -->
{% endblock %}